body {
	overflow: hidden;
}

div#intro {
	padding-top: 5pt;
}
div#gameSelection {
	padding-top: 10pt;
	padding-bottom: 5pt;
}
div#gameSelection > img {
	max-width: 175pt;
}

div#gameArea {
	width: 100%;
}
