body {
	overflow: hidden;
}

div#intro {
	padding-top: 5pt;
}
div#gameSelection {
	padding-top: 10pt;
}
div#gameSelection > img {
	padding-top: 5pt;
	max-width: 175pt;
}

div#gameArea {
	width: 100%;
}

span.clickable {
	cursor: pointer;
	color: #8000AA;
}
